<br />
<div class="container col-lg-7 bg-light rounded">
    <center><img class="rounded" src="/images/logo.png"></center><br />
        <div class="d-flex justify-content-center">
            <div class="col-md-8">
                <% if @invalid == true %>
                    <h6 class="text-danger mb-3">Your username or password was incorrect.</h6>
                <% end %>
                <form method="POST" action="/login">
                    <div class="form-group">
                        <input required="true" class="form-control" type=text id="exampleInputEmail1" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input required="true" type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="password">
                        <small class="form-text text-muted">Never share your password with anyone.</small>
                    </div>
                    <center>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </center>
                </form>
                <center>
                    <br />
                    <p>or</p>
                    <a href="/register"><button type="submit" class="btn btn-outline-primary">Register</button></a>
                </center>
            </div>
        </div>
    </div>
</div>