<div class="container col-lg-7 bg-light rounded">

    <center><img class="rounded" src="/images/logo.png"></center><br />
        <div class="d-flex justify-content-center">
            <div class="col-md-8">
                <form method="POST" action="/register">
                    <div class="form-group">
                        <input required="true" class="form-control" type=text name="username" placeholder="Username">
                    </div>

                    <% if @failed_auth == true %>
                        <h6 class="text-danger mb-3">The username you chose has already been taken.</h6>
                    <% end %>

                    <div class="form-group">
                        <input required="true" type="email" class="form-control" name="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input required="true" type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <center>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </center>
                </form>
                <center>
                    <br />
                    <p>or</p>
                    <a href="/login"><button type="submit" class="btn btn-outline-primary">Login</button></a>
                </center>
            </div>
        </div>
    </div>
</div>